*{
    margin: 0; padding: 0;
}
nav{
    width: 100%;
    height: 100px;
    background: #FC5C7D;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
        background: linear-gradient(to right, #6A82FB, #FC5C7D);
}

.nav_box {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
}
.my_shop{
    font-size: 1.5rem;
    font-weight: bold; color: rgb(228, 217, 203);
    font-family: cursive;
    cursor: pointer;
}
.cart{
 cursor: pointer;   
}
.cart span:nth-child(1){
    font-size: 2rem;
    color: aliceblue;
}
.cart span:nth-child(2) {
   padding: 0 3px;
   background-color: #a91634;
 color: #6A82FB;
 font-weight: bold;
 border-radius: 5px;
 position: relative;
 top: -15px;  
}